# Dependencies
node_modules

# Production build output
dist
dist-ssr

# Environment variables (Security risk if included)
.env
.env.*
*.local

# Git and source control
.git
.gitignore

# IDEs and Editor directories
.idea
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
